<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="playersAudit">
      <h2 data-cy="playersAuditDetailsHeading"><span jhiTranslate="rankInteractiveApp.playersAudit.detail.title">Players Audit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt>
          <span
            jhiTranslate="rankInteractiveApp.playersAudit.eventDate"
            [ngbTooltip]="'rankInteractiveApp.playersAudit.help.eventDate' | translate"
            >Event Date</span
          >
        </dt>
        <dd>
          <span>{{ playersAudit.eventDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="rankInteractiveApp.playersAudit.operation">Operation</span></dt>
        <dd>
          <span>{{ playersAudit.operation }}</span>
        </dd>
        <dt><span jhiTranslate="rankInteractiveApp.playersAudit.winningMoney">Winning Money</span></dt>
        <dd>
          <span>{{ playersAudit.winningMoney }}</span>
        </dd>
        <dt><span jhiTranslate="rankInteractiveApp.playersAudit.wageringMoney">Wagering Money</span></dt>
        <dd>
          <span>{{ playersAudit.wageringMoney }}</span>
        </dd>
        <dt><span jhiTranslate="rankInteractiveApp.playersAudit.transactionId">Transaction Id</span></dt>
        <dd>
          <span>{{ playersAudit.transactionId }}</span>
        </dd>
        <dt><span jhiTranslate="rankInteractiveApp.playersAudit.playerId">Player Id</span></dt>
        <dd>
          <span>{{ playersAudit.playerId }}</span>
        </dd>
        <dt><span jhiTranslate="rankInteractiveApp.playersAudit.promotion">Promotion</span></dt>
        <dd>
          <span>{{ playersAudit.promotion }}</span>
        </dd>
        <dt><span jhiTranslate="rankInteractiveApp.playersAudit.players">Players</span></dt>
        <dd>
          <div *ngIf="playersAudit.players">
            <a [routerLink]="['/players', playersAudit.players?.id, 'view']">{{ playersAudit.players?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/players-audit', playersAudit.transactionId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
