<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-players-heading" data-cy="PlayersCreateUpdateHeading" jhiTranslate="rankInteractiveApp.players.home.createOrEditLabel">
        Create or edit a Players
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rankInteractiveApp.players.currentBalance"
            for="field_currentBalance"
            [ngbTooltip]="'rankInteractiveApp.players.help.currentBalance' | translate"
            >Current Balance</label
          >
          <input
            type="number"
            class="form-control"
            name="currentBalance"
            id="field_currentBalance"
            data-cy="currentBalance"
            formControlName="currentBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.players.wageringMoney" for="field_wageringMoney"
            >Wagering Money</label
          >
          <input
            type="number"
            class="form-control"
            name="wageringMoney"
            id="field_wageringMoney"
            data-cy="wageringMoney"
            formControlName="wageringMoney"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.players.winningMoney" for="field_winningMoney"
            >Winning Money</label
          >
          <input
            type="number"
            class="form-control"
            name="winningMoney"
            id="field_winningMoney"
            data-cy="winningMoney"
            formControlName="winningMoney"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.players.username" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.players.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.players.contact" for="field_contact">Contact</label>
          <input type="text" class="form-control" name="contact" id="field_contact" data-cy="contact" formControlName="contact" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
