<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-players-audit-heading"
        data-cy="PlayersAuditCreateUpdateHeading"
        jhiTranslate="rankInteractiveApp.playersAudit.home.createOrEditLabel"
      >
        Create or edit a Players Audit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rankInteractiveApp.playersAudit.eventDate"
            for="field_eventDate"
            [ngbTooltip]="'rankInteractiveApp.playersAudit.help.eventDate' | translate"
            >Event Date</label
          >
          <div class="d-flex">
            <input
              id="field_eventDate"
              data-cy="eventDate"
              type="datetime-local"
              class="form-control"
              name="eventDate"
              formControlName="eventDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.playersAudit.operation" for="field_operation">Operation</label>
          <input type="text" class="form-control" name="operation" id="field_operation" data-cy="operation" formControlName="operation" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.playersAudit.winningMoney" for="field_winningMoney"
            >Winning Money</label
          >
          <input
            type="number"
            class="form-control"
            name="winningMoney"
            id="field_winningMoney"
            data-cy="winningMoney"
            formControlName="winningMoney"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.playersAudit.wageringMoney" for="field_wageringMoney"
            >Wagering Money</label
          >
          <input
            type="number"
            class="form-control"
            name="wageringMoney"
            id="field_wageringMoney"
            data-cy="wageringMoney"
            formControlName="wageringMoney"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.playersAudit.transactionId" for="field_transactionId"
            >Transaction Id</label
          >
          <input
            type="text"
            class="form-control"
            name="transactionId"
            id="field_transactionId"
            data-cy="transactionId"
            formControlName="transactionId"
            [readonly]="editForm.get('transactionId')!.value != null"
          />
          <div
            *ngIf="
              editForm.get('transactionId')!.invalid && (editForm.get('transactionId')!.dirty || editForm.get('transactionId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('transactionId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.playersAudit.playerId" for="field_playerId">Player Id</label>
          <input type="number" class="form-control" name="playerId" id="field_playerId" data-cy="playerId" formControlName="playerId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.playersAudit.promotion" for="field_promotion">Promotion</label>
          <input type="text" class="form-control" name="promotion" id="field_promotion" data-cy="promotion" formControlName="promotion" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rankInteractiveApp.playersAudit.players" for="field_players">Players</label>
          <select class="form-control" id="field_players" data-cy="players" name="players" formControlName="players">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="playersOption.id === editForm.get('players')!.value?.id ? editForm.get('players')!.value : playersOption"
              *ngFor="let playersOption of playersSharedCollection; trackBy: trackPlayersById"
            >
              {{ playersOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
